@import "../../../variable.scss";

.tag-section::-webkit-scrollbar {
  display: none;
}

.dv-brd {
  padding: 4px 10px;
  border: 0.9px solid $highlight-grey-color;
}
.head-para {
  font-size: 12px;
  color: #515256;
  font-weight: bold;
}

input {
  accent-color: black;
}

.fle-end {
  display: flex;
  justify-content: flex-end;
  padding: 10px 7px;
  align-items: center;
  p {
    font-size: 12px;
    font-weight: bolder;
    color: $medium-grey-color;
  }
}
.product-DataGrid_Container {
  .gridTbl {
    display: grid;
    grid-template-columns: 15rem 11.5rem 10rem 10rem 9rem 10rem 5.1rem;
  }

  .highlght-row {
    background-color: $highlight-grey-color;
  }

  .tags-btn {
    width: auto;
    font-family: myFirstFont;
    border: 1px solid $highlight-grey-color;
    background-color: $main-color;
    font-size: 11px;
    border-radius: 5px;
    padding: 3px;
    color: $medium-grey-color;
    font-weight: bold;
    margin-right: 5px;
    letter-spacing: 0.3px;
  }

  .meeting-btn {
    width: auto;
    font-family: myFirstFont;
    font-size: 11px;
    border-radius: 5px;
    padding: 3px;
    font-weight: bolder;
    letter-spacing: 0.3px;
  }
}
