@import "./variable.scss";

@font-face {
  font-family: "myFirstFont";
  src: url("./fonts/HelveticaNeue-Light.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  gap: 10px;
  padding: 13px;
  font-family: myFirstFont;
  .inner-container_styles {
    border-radius: 10px;
  }
  .sidebar-container {
    min-width: 16rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid $main-color;
    padding: 5px;
    height: auto;
  }
  .productPage-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid $main-color;
    width: 80vw;
    height: 97vh;
    // height: auto;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    .productPage-container {
      width: 80vw;
    }
  }
}
