@import "../../../variable.scss";

.folder-container {
  .ds-flex {
    display: flex;
  }
  .highlight-cont {
    background-color: $highlight-grey-color;
  }
  .fld-container_head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem 0.3rem;
    border-radius: 7px;
    margin: 0px 0.5rem 0px 0.5rem;

    div {
      display: flex;
    }

    p {
      margin-left: 4px;
      font-size: 13px;
      font-weight: bolder;
    }
  }
  .subFolder-container {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    border-left: 1px solid $highlight-grey-color;
    div {
      border-left: 1px solid $highlight-grey-color;
      border-bottom-left-radius: 8px;

      p {
        font-size: 13px;
        font-weight: bolder;
        padding-top: 1rem;
        padding-left: 1rem;
        letter-spacing: 0.2px;
      }
    }
    .subFolder-addSub {
      button {
        border: 1px solid $medium-grey-color;
        background-color: $main-color;
        border-radius: 3px;
        font-size: 10px;
        width: 12px;
        height: 12px;
        margin-left: 1rem;
        margin-top: 1rem;
      }
    }
  }
}
